.redirect-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.character {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 6rem;
    margin-bottom: 1rem;
}

.modal {
    display: block; /* initially set to none and changed to block when modal is open */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
    z-index: 1;
}

.modal p,
h1,
h2 {
    color: white;
}
.modal h2 {
    font-size: 30px;
}
.modal p {
    font-size: 20px;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(104, 46, 192, 0.99);
    padding: 20px;
    border-radius: 8px;
    min-width: 1105px;

    max-height: 80%;
    overflow-y: scroll;
    border: 1px solid;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.modal-content h1 {
    display: flex;
    justify-content: center;
    color: white !important;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.case-study-btn {
    background-color: #7d0a0a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.modal-content h1 {
    color: black;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.start-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.overview-section {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.overview-image img {
    max-width: 100%;
}

.credits-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.credits {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.tools-right {
    display: flex;
}
.api-button {
    position: absolute;
    top: 941px;
    left: 40px;
    color: white;
}

.server-side-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}
.server-side-top {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    align-items: center;
    margin: 2rem 0;
}

.server-side-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 2rem 0;
}

.basics,
.database-schema,
.authentication,
.deployment {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
}
.basics:hover,
.database-schema:hover,
.authentication:hover,
.deployment:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 20px 0px;
    background-color: rgba(0, 0, 0, 0.2);
}

.client-side-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.client-side-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50rem;
    margin-right: 5rem;
}
.client-button {
    position: absolute;
    color: white;
    top: 1790px;
    right: 40px;
}

.eslint-image img {
    max-width: 80%;
    border-radius: 15px;
}
